*{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
}
h1{
    font-family: "Montserrat Alternates", serif;
  font-weight: 800;
  font-style: normal;
}
h2{
    font-size: 20px;
    font-family: "Public Sans", serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal
 
     
}
/* Aqui empieza los estilos de la barra de navegacion*/
.navegacion{
    height: 70px;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 0 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;

}

/* Aqui empiezan los estilos de la galeria de fotos*/
.galeria {
    padding: 40px 40px 40px 40px;
    background-color: rgb(255, 255, 255);
    height: 1400px;
    display: flex;
    flex-wrap: wrap; /* Permite que las columnas se ajusten en pantallas pequeñas */
    gap: 20px;
    margin: 50px
    
}

.column {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.column img {
    width: 250px;
    height: 400px;
    object-fit: cover;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

@keyframes move-down-infinite {
    0% { transform: translateY(0); }
    100% { transform: translateY(100px); }
}

@keyframes move-up-infinite {
    0% { transform: translateY(0); }
    100% { transform: translateY(-100px); }
}

.animate-down img {
    animation: move-down-infinite 6s linear infinite;
}

.animate-up img {
    animation: move-up-infinite 6s linear infinite;
}

@media (max-width: 852px) {
    .column:nth-child(n+3) { /* Oculta las columnas 3, 4 y 5 */
        display: none;
    }
}

/* Media Query para tablets (1106px) - Solo 3 columnas */
@media (min-width: 853px) and (max-width: 1106px) {
    .column:nth-child(n+4) { /* Oculta las columnas 4 y 5 */
        display: none;
    }
}

/* Media Query para pantallas grandes (1380px) - Solo 4 columnas */
@media (min-width: 1107px) and (max-width: 1380px) {
    .column:nth-child(n+5) { /* Oculta la columna 5 */
        display: none;
    }
}

/* Más de 1380px - Se muestran todas las columnas */
@media (min-width: 1381px) {

    .column {
        display: flex;
    }
}
    
/* Aqui terminan los estilos de la galeria de fotos*/

/* Aqui empiezan los estilos seccion de biografia*/
.quiensoy{
    height: 600px;

}
.hero-body {
    flex-grow: 1;
    flex-shrink: 0
}
.columns.is-centered {
    justify-content: center;
}
.quiensoy .avatar {
    width: 100%;  /* Ajusta el tamaño */
    height: auto;
    object-fit: cover;
    display: block;
    margin: -30px auto;  /* Centrar en la sección */
    margin-top: 100px;
}

.is-primary {
    background-color: #4788C0; /* Color de fondo */
    color: white; /* Color del texto */
    padding: 50px 20px; /* Espaciado dentro de la sección */
}
.habilidad{
    margin-bottom: 20px; /* Espacio entre cajas */
    padding: 20px; /* Espacio interno */
    background-color: #f8f9fa; /* Color de fondo */
    border-radius: 10px; /* Bordes redondeados */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Sombra ligera */
}
.queesperas{
    margin: 40px;

}    
/*estilos de la pagina blog*/
.news-card img {
    margin: 0px 0px 30px 0px;
    max-height: 400px;
    object-fit: cover;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Sombra ligera */
}

.news-card-title {
    font-size: 1.5rem;
}

.news-card-footer {
    font-size: 0.9rem;
    color: #6c757d;
}
 /* estilos del footer*/
 
 .footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px;
}

.call-to-action {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
}

.social-media {
    list-style: none;
    display: flex;
    gap: 16px;
}

.social-media a {
    text-decoration: none;
    color: black;
    transition: 400ms all;
}

.social-media a:hover {
    color: #c1c1c1;
}
